/* Tailwind v4 imports */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400&display=swap");

@import "tailwindcss";

/* ===============================
   COLORS (CSS Variables)
================================== */
:root {
  --text-dark: #0a3d62;
  --text-light: #fff;
  --text-beige: #d1c1a7;

  --bg-light: #fff;
  --bg-beige: #f5efe7;
  --bg-dark: #0a3d62;
  --bg-beige2: #d1c1a7;
}

/* ===============================
   BODY BASE STYLES
================================== */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

/* ===============================
   HEADINGS  
================================== */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -1.12px;
  text-align: center;
  color: var(--text-light);
  margin-bottom: 24px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -0.88px;
  text-align: center;
  color: var(--text-dark);
}
h3 {
  font-family: Playfair Display;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: -0.64px;
}
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--text-dark);
  line-height: 29px;
}
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--text-beige);
}
.footer-para {
  font-size: 17px;
  margin-bottom: 24px;
  line-height: 30px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.footer-para:hover {
  opacity: 1;
  cursor: pointer;
}
.foooter-link-style {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 12px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  word-break: break-word;
}

.foooter-link-style:hover {
  opacity: 1;
  cursor: pointer;
}

/* ===============================
   PARAGRAPH TEXTS  
================================== */
.hero-text {
  font-family: Inter;
  font-weight: 500;
  font-style: Regular;
  font-size: 24px;
  color: var(--text-light);
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 40px;
}
.text-1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-dark);
  opacity: 0.9;
  text-align: center;
}

.text-2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  opacity: 0.8;
  color: var(--text-dark);
}

.text-3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

/* ===============================
   RESPONSIVE (Tablet + Mobile)
================================== */
@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  h3 {
    font-size: 24px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
  }
}
